* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
}

/*Menu*/
.nav-bar {
	height: 80px;
	display: inline;
}

.nav-bar__hamburger {
	position: absolute;
	right: 30px;
	top: 25px;
	z-index: 20;
}

.nav-bar__menu {
	display: none;
}

.nav-open {
	display: block;
	height: 204px;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
	position: fixed;
	top: 50px;
	width: 80%;
	z-index: 1;
}

.nav-bar__menu--link {
	background-color: #FFF;
	border-bottom: 1px solid #999;
	font-size: 16px;
	list-style: none;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	width: 345px;
}

.fa-bars {
	font-size: 30px;
	color: #fff;
}

.nav-bar__hamburger p {
	display: inline;
	color: #fff;
}

/*Header*/

.header__container hgroup, .header__cta {
	color: #fff;
}

.header__container hgroup {
	border-top: solid;
	border-bottom: solid;
	width: 256px;
	margin: 0 auto;
}

.header__cta {
	margin-top: 50px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 45px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 21px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 30px;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 15px;
	color: #898F8F;
}

h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 20px;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

.header__container {
	position: absolute;
	top: 20px;
	left: 10%;
	width: 80%;
	height: 40vh;
	transform: translateY(50%);
}

/*Carousel*/

.d-block {
	height: 80vh;
}

.carousel-control-next, .carousel-control-prev {
	align-items: flex-end;
	bottom: 20px;
}

.carousel-shadow {
	background: rgba(0,0,0,0.5);
	height: 80vh;
	width: 100%;
	position: absolute;
}

.carousel-indicators li {
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

/*About*/

.about {
	background-color: #164D61;
	color: #fff;
	padding: 30px;
}

.line {
	width: 40%;
	height: 2px;
	background: white;
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-right: 2px;
}

.about__briefcase-shadow {
	height: 40px;
	width: 40px;
	background-color: #455A64;
	border-radius: 50%;
	margin: 10px auto;
}

.fa-briefcase {
	font-size: 25px !important;
	padding: 7px;
}

.about p {
	color: #898F8F;
}